body{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background-color: #402d7f;
}
:root{
    --color-primary: #ae949a;
    --color-primary-hover: #4b8531;
    --color-ligth-gray: #f5f5f5;
    --color-ligth-black: #191919;
    --color-white: #ffffff;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
p{
    margin-bottom: 20px;
}

.container {
    margin: 0 auto;
   max-width: 1024px;  
}
.divider{
    border: 1px solid var(--color-primary);
    width: 80px;
    margin: 20px auto;
    
    
}
.btn{
    border-radius: 30px;
    padding: 17px 40px;
    font-weight: 700;
    border:1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 20px 0;
}
.background-overlay{
background-color: var(--color-light-black);
opacity: 0.40;
position: absolute;
height: 100%;
width: 100%;
top: 0%;
left: 0%;
}

.btn:hover,.btn:focus{
    border-color: var(--color-primary-hover);
    background-color: var(--color-primary-hover);
    transition: all 0.3s;
}
/*page header starter*/
#page-header .container{
    position: relative;
}
#page-header{
    background-color: var(--color-ligth-black);
    padding: 20px;
    background-image: url("https://i.ytimg.com/vi/bwpin8Y7yZ0/maxresdefault.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-position: top center;
    background-size: cover;
    padding: 20px
}
#page-header #page-header-logo img{
width: 300px;
height: 200px;
opacity: 0.65;




}
#page-header #page-header-content{
color: var(--color-white);
text-align: center;
padding: 200px 0;
}
#page-header #page-header-content h1{
    font-size: 72px;
}
#page-header #page-header-content h2{
    font-size: 32px;
}

/*page header end.*/
/*session quote start*/
#quote {
   background-color: #191919; 
   padding: 40px 0;
}

#quote .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-style: var(--color-ligth-gray);
    background-color: #191919;
    border:solid 1px red;
    

}

#quote #quote-content{
flex: 1;
text-align: center;
font-size: 20px;
}
/*session quote end*/

/* section upcoming events start*/
#upcoming-events {
  padding: 100px 0;    
}
#upcoming-events .container h2{
    text-align: center;
    
} 
#upcoming-events #upcoming-events-content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
#upcoming-events #upcoming-events-content .event{
    text-align: center;
    width: 450px;
}
#upcoming-events #upcoming-events-content .event img{
    width: 100%;

    border-radius: 4px;
    box-shadow: 10px 10px 0 1px rgb(0 0 0 /10%);
}

/* section upcoming events end*/